<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ShP2</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div class="container">
    <!-- Header Section -->
    <header class="header">
      <h1>Practico_Firebase</h1>
      <p>Actividad para la evaluacion del segundo parcial en el grupo de DS02SV-24, por el alumno 
        Vazquez Hernandez Daniel Ulises.
      </p>
    </header>

    <!-- Navbar Section -->
    <nav class="navbar">
      <ul>
        <li><a href="https://ejemplo7libros.vercel.app" class="card">Libros</a></li>
        <li><a href="https://ejemplo3-nine.vercel.app" class="card">Productos</a></li>
        <li><a href="https://act-extra.vercel.app" class="card">Ejercicio 1er Parcial</a></li>
        <li><a href="/ruta4" class="card">Acerca de...</a></li>
      </ul>
    </nav>
    
    <!-- Main Content Section -->
    <main class="main-content">
      <h2>Conoce las rutas de los Ejemplos</h2>
      <p>Puedes hacer clic en cualquiera de las rutas de arriba para comenzar tu recorrido del parcial.</p>
    </main>
  </div>
</body>
</html>
